:root{
    --cor-destaque: #8C2CE2;

    --cor-fundo: #13131f;

    --cor-habilidade-bloco: #212132;

    --cor-fundo-projetos-tranparente: #rgba(0, 0, 0, 0.6);

    --cor-texto: white;

    --cor-botao-hover: #8902ff;

    --cor-html: #e34c26;

    --cor-css: #264de4;

    --cor-js: #f7df1e;

    --cor-python: #306998;
}

