body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;

}
.cabecalho{
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}


.botoes-nav{
    display: flex;
    gap: 35px;
    padding: 25px;
    margin: 0 auto;
}

.botoes-nav a{
    color: var(--cor-texto);
    font-size: 20px;
    text-decoration: none;
}


.linhaReta{
    height: 1px;
    background-color: var(--cor-destaque);
    width: 100%;
}

.botao-tema{
    position: relative;
}

.botao-tema button{
    z-index: 1;
    padding: 16px 35px;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    cursor: pointer;
}

.botao-tema .bolinha-botao{
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.5s ease;
    cursor: pointer;
}

.botao-tema.ativo .bolinha-botao{
    left: 43%;
}

.secaoApresentacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
}

.apresentacao-container{
    font-size: 20px;
    margin-left: 100px;
}

.apresentacao-container h1{
    font-size: 80px;
    margin: 0 auto;
    max-width: 630px;
    padding-bottom: 30px;
    padding-top: 100px;
}

.linhaSuave{
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, transparent, var(--cor-destaque), transparent);
}
.apresentacao-container p{
    font-size: 22px;    
    max-width: 630px;
    padding-left: 10px;
}

.meuNome{
    color: var(--cor-destaque);
}

.meuNome{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    width: 0;
    animation: typingErasing 6s steps(12, end) infinite alternate, blink 0.75s step-end infinite;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes typingErasing {
  0% {
    width: 0;
  }
  40% {
    width: 12ch;
  }
  60% {
    width: 12ch;
  }
 
  100% {
    width: 0;
  }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.html{
    color: var(--cor-html);
}

.css{
    color: var(--cor-css);
}

.js{
    color: var(--cor-js);
}

.python{
    color: var(--cor-python)
}

.apresentacao-foto{
    padding-top: 15px;
    margin-right: 100px;
}

.botoes-CTA{
    display: flex;
    gap: 30px;
    padding-left: 6px;
    padding-top: 35px;
}

.botoes-CTA .botao{
    background: linear-gradient(to bottom, var(--cor-destaque), #6800c3);
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    color: var(--cor-texto);
    border: none;
    padding: 8px 18px;
    transition: transform 0.3s;
    transform: scale(1);
}

.botoes-CTA button:hover{
    background: #8902ff ;
    transform: scale(1.10);
    box-shadow: 0px 0px 15px var(--cor-destaque);
}

.apresentacao-foto img {
    background: linear-gradient(to bottom, #6300C6, #450087);
    width: 400px;
    border-radius: 50%;
    border: 5px solid #8b0eff;
}

.seta-baixo img{
    display: flex;
    width: 60px;
    justify-content: center;
    margin: 10px auto;
    margin: 150px auto;
}

.secaoSobre {
    display: flex;
    justify-content: space-around;

}

.sobre-container h1{
    font-size: 50px;
    text-align: center;
}

.sobre-container p{
    font-size: 20px;
    max-width: 1000px;
    text-align: center;
    padding: 15px 20px;
    line-height: 1.6;
}

.botao-curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.botao-curriculo button{
    background: linear-gradient(to bottom, var(--cor-destaque), #6800c3);
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    color: var(--cor-texto);
    border: none;
    padding: 13px 50px;
    transition: transform 0.3s;
    transform: scale(1);
}

.botao-curriculo button:hover{
    background: #8902ff ;
    transform: scale(1.10);
    box-shadow: 0px 0px 15px var(--cor-destaque);
}

.tecnicas-icones svg{
    width: 100px;
    height: 100px;
    fill: var(--cor-destaque)
}

.softSkills-icones svg{
    width: 100px;
    height: 100px;
    fill: var(--cor-destaque)
}

.projeto-imagem img{
    width: 500px;
    height: 300px;
}

.contato-imagem svg{
    width: 100px;
    height: 100px;
    fill: var(--cor-destaque)
}