body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: "Nunito", sans-serif;

}
.cabecalho{
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}


.botoes-nav{
    display: flex;
    gap: 35px;
    padding: 25px;
    margin: 0 auto;
}

.botoes-nav a{
    color: var(--cor-texto);
    font-size: 20px;
    text-decoration: none;
}


.linhaReta{
    height: 1px;
    background-color: var(--cor-destaque);
    width: 100%;
}

.botao-tema{
    position: relative;
}

.botao-tema button{
    z-index: 1;
    padding: 16px 35px;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    cursor: pointer;
}

.botao-tema .bolinha-botao{
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.5s ease;
    cursor: pointer;
}

.botao-tema.ativo .bolinha-botao{
    left: 43%;
}

.secaoApresentacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
}

.apresentacao-container{
    font-size: 20px;
    margin-left: 100px;
}

.apresentacao-container h1{
    font-size: 80px;
    margin: 0 auto;
    max-width: 630px;
    padding-bottom: 30px;
    padding-top: 100px;
}

.linhaSuave{
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, transparent, var(--cor-destaque), transparent);
}
.apresentacao-container p{
    font-size: 22px;    
    max-width: 630px;
    padding-left: 10px;
}

.meuNome{
    color: var(--cor-destaque);
}

.meuNome{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    width: 0;
    animation: typingErasing 6s steps(12, end) infinite alternate, blink 0.75s step-end infinite;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes typingErasing {
  0% {
    width: 0;
  }
  40% {
    width: 12ch;
  }
  60% {
    width: 12ch;
  }
 
  100% {
    width: 0;
  }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.html{
    color: var(--cor-html);
}

.css{
    color: var(--cor-css);
}

.js{
    color: var(--cor-js);
}

.python{
    color: var(--cor-python)
}

.apresentacao-foto{
    padding-top: 15px;
    margin-right: 100px;
}

.botoes-CTA{
    display: flex;
    gap: 30px;
    padding-left: 6px;
    padding-top: 35px;
}

.botoes-CTA .botao{
    background: linear-gradient(to bottom, var(--cor-destaque), #6800c3);
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    color: var(--cor-texto);
    border: none;
    padding: 8px 18px;
    transition: transform 0.3s;
    transform: scale(1);
}

.botoes-CTA button:hover{
    background: var(--cor-botao-hover);
    transform: scale(1.10);
    box-shadow: 0px 0px 15px var(--cor-destaque);
}

.apresentacao-foto img {
    background: linear-gradient(to bottom, #6300C6, #450087);
    width: 400px;
    border-radius: 50%;
    border: 5px solid #8b0eff;
}

.seta-baixo img{
    display: flex;
    width: 60px;
    justify-content: center;
    margin: 10px auto;
    margin: 150px auto;
}

.secaoSobre {
    display: flex;
    justify-content: space-around;

}

.sobre-container h1{
    font-size: 50px;
    text-align: center;
}

.sobre-container p{
    font-size: 20px;
    max-width: 1000px;
    text-align: center;
    padding: 15px 20px;
    line-height: 1.6;
}

.botao-curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.botao-curriculo button{
    background: linear-gradient(to bottom, var(--cor-destaque), #6800c3);
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    color: var(--cor-texto);
    border: none;
    padding: 13px 50px;
    transition: transform 0.3s;
    transform: scale(1);
}

.botao-curriculo button:hover{
    background: var(--cor-botao-hover);
    transform: scale(1.10);
    box-shadow: 0px 0px 15px var(--cor-destaque);
}

.secaoHabilidades{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tecnicas-icones svg{
    width: 100px;
    height: 100px;
    fill: var(--cor-destaque)
}

.habilidades-tecnicas{
    width: 100%;
    padding: 0;
    margin: 0;
}

.habilidades-tecnicas h1{
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
}

.tecnicas-icones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    max-width: 1000px;
    margin: 0 auto;
}

.tecnicas-icones .habilidade-bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--cor-habilidade-bloco);
    padding: 20px 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    transition: transform 0.3s;
    transform: scale(1);
} 

.tecnicas-icones .habilidade-bloco:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 15px var(--cor-destaque);
}



.tecnicas-icones .habilidade-bloco ::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    bottom: -2px;
    background: linear-gradient(to right, var(--cor-destaque), #a300c3);
    left: 0;
}

.tecnicas-icones p{
    margin-bottom: 3px;
}

.softSkills-icones svg{
    width: 100px;
    height: 100px;
    fill: var(--cor-destaque)
}

.soft-skills{
    width: 100%;
    padding: 0;
    margin: 0;
}

.soft-skills h1{
    font-size: 45px;
    text-align: center;
    padding-top: 100px;
}

.softSkills-icones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    max-width: 1000px;
    margin: 0 auto;
}

.softSkills-icones .habilidade-bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--cor-habilidade-bloco);
    width: 100%;
    padding: 20px 0px;
    position: relative;
    transition: transform 0.3s;
    transform: scale(1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.softSkills-icones .habilidade-bloco:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 15px var(--cor-destaque);
}

.softSkills-icones .habilidade-bloco::after{
    position: absolute;
    bottom: -2px;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    background: linear-gradient(to right, var(--cor-destaque), #a300c3);
}

.softSkills-icones .habilidade-bloco:nth-child(5){
    grid-column: 2;
}

.projetos-container h1{
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
}

.grid-projetos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin: 0 auto;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

.grid.projetos .projeto-bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projeto-imagem img{
    width: 500px;
    height: 300px;
}

.projeto-imagem{
    position: relative; 
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
}

.projeto-imagem .projeto-camada-escura:hover{
    opacity: 0;
}

.projeto-bloco{
    position: relative;
    transition: 0.5s;
    transform: scale(1);
}

.projeto-bloco:hover{
    transform: scale(1.18);
    transition: 0.3s;
    cursor: pointer;
}

.projeto-bloco .projeto-img-rodape{
    position: relative;
    width: 100px;
    padding: 8px 200px;
    background-color: var(--cor-habilidade-bloco);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto-imagem::after{
    position: absolute;
    bottom: -2px;
    content: "";
    width: 100%;
    height: 6px;
    left: 0;
    background: linear-gradient(to right, var(--cor-destaque), #a300c3);
    z-index: 2;
}

.projeto-img-rodape p{
    font-size: 14px;
    white-space: nowrap;
}

.projeto-camada-escura{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.60);;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    transition: 0.5;
}

.projeto-camada-escura p{
    font-size: 20px;
}

.contato-imagem svg{
    width: 100px;
    height: 100px;
    fill: var(--cor-destaque)
}

.rodape {
    display: flex;
    justify-content: center;
    font-size: 15px;
    min-height: 50px;
}